@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic)
layer(base);
@import 'tailwindcss';

@config '../../tailwind.config.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

*{
  user-select: none;
  font-family: 'Exo 2';
  @apply text-zinc-50
}
.draggable {
    user-select: none;
    -webkit-app-region: drag;
  }

.undraggable {
    -webkit-app-region: no-drag;
  }

